extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        |Top News in India: Read Latest News on Sports, Business, Entertainment, Blogs and Opinions from leading columnists. Times of India brings the Breaking News ...

        | <br /><br />
        | News Headlines Today: Hindustan Times offers the most reliable news in politics, sports, entertainment and business, featuring National and International ...
        | <br /><br />
        |Check out the latest news from India and around the world. Latest India news on Bollywood, Politics, Business, Cricket, Technology and Travel ... WEBSITES. India ...