extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | INDIAN-Express
          small &nbsp;where you can know the world!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Breaking News
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default update
          p.address know about all politics
          p
            span.label.label-warning indian 
            | &nbsp;
            span.label.label-warning telangana
            | &nbsp;
            span.label.label-warning world
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location') Business News
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default update
          p.address know about business world
          p
            span.label.label-warning Realstate
            | &nbsp;
            span.label.label-warning Trending business
            | &nbsp;
            span.label.label-warning all types of business
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location') Entertainment News
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default updates
          p.address know about movies etc
          p
            span.label.label-warning movies
            | &nbsp;
            span.label.label-warning T.V shows
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Looking for latest news and Breaking news? INDIAN Express news helps you find ALL TYPES OF NEWS about. Perhaps with BREAKING ? Let INDIAN Express news help you find the place you're looking for.